body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.link_list {
  display: flex;
  gap: 40px;
}

.link {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  font-weight: 500;
}

.link:hover {
  color: #f00;
}